.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-box {
  width: 150px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

