:root {

  --background: #000000;
  --color-glow: #fdfbd3;
  --color-gold-light: #fce370;
  --color-gold-medium: #f1bb44;
  
  --color-brown-dark: #401c06;

  --font-title: 'Tangerine', cursive;
  --font-common: 'Playfair Display', serif;



}
